<% content_for :page_title do %>
Ruby on Rails Guides
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <% unless @edge -%>
      <dd class="kindle">Rails Guides are also available for <%= link_to 'Kindle', @mobi %>.</dd>
    <% end -%>
    <dd class="work-in-progress">משמעות אייקון זה הוא שהמדריך הוא עבודה בתהליך ואינו זמין התפריט האינדקס. בעוד שהם מועילים, הם עלולים להכיל מידע חלקי ואף טעויות. תוכלו לעזור על ידי בחינתם והוספת הערות ותיקונים.</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
